

<div>
    <h4>בחר תאריך</h4>
    <ng-datepicker ng-model="date" placeholder="date">
    </ng-datepicker>
    <span ng-bind="date" style="display: block; margin-top: 5px;"></span>
    <input value="הדפס" type="button" ng-click="printExample('warpAll');" />
    <input value="הצג" type="button" ng-click="submit();" />

    <select class="ui dropdown" ng-model="selectedCategory">
        <option ng-repeat="category in categories" value="{{category.Id}}">{{category.Name}}</option>
    </select>

    <div id="warpAll"  style="direction:rtl">
    <table style="direction:rtl">

        <tr ng-repeat="order in  orders">
            <td>
                <b><br />{{order.Id}}  <br />{{order.BranchName}} <br /> {{order.DueDate | date : format : shortDate }} <br /> {{order.Comment}}</b>
                <table style="direction:rtl">
                    <tr ng-repeat="orderitem in  order.OrderProductList"><td>{{orderitem.ProductName}}  {{orderitem.AmountAsked}}   {{orderitem.UnitMeasure }} ,{{orderitem.Comment }}</td></tr>
                </table>
                <hr />
                <br />
            </td>

          
        </tr>
    </table>

        </div>



    <!--<div class="ui one  cards" id="warpAll">
        <div class="ui card" ng-repeat="order in  orders" dir="rtl">
            <div class="content">
                <div class="header">מספר הזמנה : {{order.Id}}</div>
            </div>
            <div class="content">
                <div class="ui small feed">
                    <div class="">
                        <div class="content">
                            <B>תאריך הזמנה</B> : {{order.DueDate | date : format : shortDate }} <br />
                            <B>שם העסק </B> : {{order.BranchName}}<br />

                            <b>הערה </b>: {{order.Comment}}<br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" ng-repeat="orderitem in  order.OrderProductList">
                <span> {{orderitem.ProductName}}  {{orderitem.AmountAsked}}   {{orderitem.UnitMeasure }} ,{{orderitem.Comment }} </span>
            </div>
        </div>
    </div>-->
</div>
