<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />    
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />  
  </system.web>

  

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="API" stopProcessing="true">
          <match url="^api/(.*)$" />
          <action type="Rewrite" url="/api/{R:1}" />
        </rule>
        <rule name="Libs" stopProcessing="true">
          <match url="^libs/(.*)$" />
          <action type="Rewrite" url="/bower_components/{R:1}" />
        </rule>
        <rule name="All" stopProcessing="true">
          <match url="Default.html" />
          <action type="Redirect" redirectType="Temporary" url="/" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="Default.html" />
      </files>
    </defaultDocument>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

  <connectionStrings>
    <!-- QA -->
  <!-- <add name="myConnectionString" connectionString="Data Source=195.28.181.78\sqlexpress;Initial Catalog=ByClick_QA;User ID=test; Password=1234" providerName="System.Data.SqlClient" />-->

    <!-- Production -->
    <add name="myConnectionString" connectionString="Data Source=31.168.61.203;Initial Catalog=StoreDB;User ID=sqlUser; Password=g55555" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>